a = ब
b = द
c = अ
d = म
e = भ
f = ा
g = न
h = ज
i = ष्
j = व
k = प
l = ि
m = m
n = ल
o = य
p = उ
q = त्र
r = च
s = क
t = त
u = ग
v = ख
w = ध
x = ह
y = थि
z = श
A = ब्
B = द्य
C = ऋ
D = म्
E = भ्
F = ँ
G = न्
H = ज्
I = क्ष्
J = व्
K = प्
L = ी
M = ः
N = ल्
O = इ
P = ए
Q = त्त
R = च्
S = क्
T = त्
U = ग्
V = ख्
W = ध्
X = ह्
Y = थ्
Z = श्
1 = ज्ञ
2 = द्द
3 = घ
4 = द्ध
5 = छ
6 = ट
7 = ठ
8 = ड
9 = ढ
0 = ण्
- = (
= =  .
! = १
@ = २
# = ३
$ = ४
% = ५
^ = ६
& = ७
* = ८
* = ८
( = ९
) = ०
_ = )
+ = ं
; = स
' = ु
" = ू
[ = ृ
] = ेर्
{ = 
} = ै
< = ?
> = श्र
, = ,
. = ।
/ = र
? = रु
| = ्र
\ = ्
