*
!NA2067BS_NepaliBrihatShabdakosh.one_per_line.unicode
!NA2067BS_NepaliBrihatShabdakosh.pdf
!NA2067BS_NepaliBrihatShabdakosh.unicode.txt
!README.org
!LICENSE.txt
!parsed-output.unicode
!.gitignore
!words.txt
!extract-words.sh
